37 0 * * *  backup rm -rf /home/backup/influxdb/*; influxd backup -portable -database telegraf /home/backup/influxdb
27 1 * * 0  backup  duplicity --no-encryption full /home/backup/influxdb/ rsync://{{ git_user }}@backup.{{ domain_name }}.{{ root_name }}//home/{{ git_user }}/influxdb
27 1 * * 1-6  backup  duplicity --no-encryption incremental /home/backup/influxdb/ rsync://{{ git_user }}@backup.{{ domain_name }}.{{ root_name }}//home/{{ git_user }}/influxdb
